[submodule "tutorial/operator/triton/Triton-Puzzles-Lite"]
	path = tutorial/operator/triton/Triton-Puzzles-Lite
	url = git@github.com:SiriusNEO/Triton-Puzzles-Lite.git
[submodule "tutorial/operator/triton/Liger-Kernel"]
	path = tutorial/operator/triton/Liger-Kernel
	url = git@github.com:linkedin/Liger-Kernel.git
